<head>
    <script src="/index.js" defer></script>
</head>
<body class="container">
    <header>
        {{>header}}
    </header>
    
    <main>

              <center>
        <div class="jumbotron">
            <h1>Productos Disponibles</h1>

                <div  id="object" ></div>    
         
     
            
          </table>
                        <h5>Agregar nuevo producto</h5>
                <form onsubmit="addMessage(this)" method="post" action="./productos">
                <label>Add Object:</label>
                <input type="text" required name="title" id="object_searched" />
                <br/>
                <br/>
                <label>Add Price:</label>
                <input type="text" required name="price" id="price_searched" />
                <br/>
                <input  type="submit" value="Submit" id="submite" />
                
              </form>
              <div class="jumbotron">

          {{!-- FILTRAR PRODUCTO --}}
            
            <h5>Agrega el ID del prducto que deseas agregar a Tu Carrito</h5>
                <form onsubmit="filterProduct(this)" method="get" action="/filter">
                <label></label>
                <input type="number" required name="id" id="idNumber" placeholder="Agregar ID del producto  " />
                 <br/>
                <input  type="submit" value="Search" id="submite" />
              </form>
              <div class="jumbotron">

           

         </center>
    </main>

    <footer>
       {{>footer}}
    </footer>
