<head>

   <script src="/login.js" defer></script>
    <script src="../routes/productRoute.js" defer></script>
    
</head>
<body class="container">

    
    <main>
        <div class="jumbotron">
               <div id="compression"></div>
<center>
   
<h1>Aplicacion</h1>


<form action="/login">
    <div class="form-group">
        <input class="btn btn-success my-3" type="submit" value="Logearse">
    </div>
</form>


<form action="/signUp">
    <div class="form-group">
        <input class="btn btn-success my-3" type="submit" value="Registrarse">
    </div>
</form>
</center>

</div>
    </main>

    <footer>
        {{>footer}}
    </footer>

</body>