<head>

    
    <script src="../routes/routes.js" defer></script>
    
</head>
<body class="container">

    
    <main>
              <div class="jumbotron">
               <div id="compression"></div>
<div class="container my-5">

  <h1>Registrarse</h1>
  <br>
  <form class="form" role="form" action="/signup" method="post" autocomplete="off">

    <div class="form-group">
      <input name='username' placeholder="Nombre" class="form-control" type="text" required>
    </div>
    <div class="form-group">
      <input name='password' placeholder="Password" class="form-control" type="password" required>
    </div>

    <br>

    <div class="form-group">
      <input name='firstName' placeholder="First Name" class="form-control" type="text" required>
    </div>

    <div class="form-group">
      <input name='lastName' placeholder="Family Name" class="form-control" type="text" required>
    </div>

    <div class="form-group">
      <input name='adress' placeholder="Adress" class="form-control" type="text" required>
    </div>

        <div class="form-group">
      <input name='age' placeholder="Age" class="form-control" type="text" required>
    </div>

        <div class="form-group">
      <input name='phonenumber' placeholder="Phone number" class="form-control" type="number" required>
    </div>

    <div class="form-group">
      <input name='email' placeholder="email" class="form-control" type="email" required>
    </div>

    <div class="form-group">
      <input class="btn btn-success my-3" type="submit" value="Singup">
    </div>
  </form>

  <hr>
  <form action="/">
    <div class="text-center"></div>
        <button class="btn btn-info my-3">Volver a pagina principal</button>
    </div>
  </form>

</div>

    </main>

    <footer>
        {{>footer}}
    </footer>

</body>